layout {

    focus-ring {
        active-color   "#e5c099"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e5c099"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e5c099"
        inactive-color "#2d2926"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e5c09980"
    }
}

recent-windows {
    highlight {
        active-color "#e5c099"
        urgent-color "#ffb4ab"
    }
}
