layout {

    focus-ring {
        active-color   "#dfc1a4"
        inactive-color "#151311"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dfc1a4"
        inactive-color "#151311"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dfc1a4"
        inactive-color "#2c2927"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dfc1a480"
    }
}

recent-windows {
    highlight {
        active-color "#dfc1a4"
        urgent-color "#ffb4ab"
    }
}
